.title-specialists{
    font-size: 24px;
    font-weight: bold;
    color: #405D78;
    padding: 30px 0px;
}

.person{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 60px;
}

.person:nth-of-type(even) {
    text-align: right;
    -webkit-flex-direction: row-reverse; 
    flex-direction: row-reverse;
}

.person h3{
    font-weight: bold;
    margin-bottom: 30px;
}
        
.person1{
    background-image: url("https://picsum.photos/200")
}

.avatar{
    flex-shrink: 0;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 0 30px;
}


