
footer{
    background-color: grey;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px; 
    color: white;
    font-size: 18px;
    font-weight: bold; 
}
