a{  
    color:white;
    text-decoration: none;
}

.container:first-child:a{
    margin-left: 25px;
    font-weight: bold;
}

nav{
    background-color: grey;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 18px;   
}