
nav{
    background-color: grey;
    height: 50px;
}
nav a{
    margin-left: 45px;
    color:white;
    text-decoration: none;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 18px;
}
.nav-container > a:first-of-type {
    margin-left: 25px;
}

.nav--links{
    display: none;
}
.nav--toggler {
  width: 30px;
  height: 30px;
  background: white;
  cursor: pointer;
}

@media screen and (min-width: 768px){
    .nav-container{
      padding-left: 0;
    }

   .nav--links {
        display: block;
    }
    .nav-container > a:first-of-type {
        margin: 0;
    }
    .nav--toggler {
      display: none;
    }

}

@media screen and (min-width: 1200px){
    .nav-container{
        padding-left: 0;
    }

    .nav--links {
        display: block;
    }

    .nav-container > a:first-of-type {
        margin: 0;
    }

    .nav--toggler {
      display: none;
    }

}
